header {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #361134;
  margin: auto;
  height: 5vh;
  overflow: hidden;
  /* position: relative; */
  /* background-color: #333; */
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: 10%;
    color: white;
    background-color: black;
  }
}

.logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: auto;
}
.username {
  color: #F391A0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .username {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    margin-left: 0;
    margin-right: 0;
  }
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  header ul {
    flex-direction: column;
  }
}

header li {
  list-style: none;
  margin-left: 1%;
  margin-right: 1%;
}



@media screen and (max-width: 600px) {
  header li {
    float: left;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .dropdownmenu {
    float: left;
    background-color: #361134;
    /* display: none; */
  }
}






.menubtn {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menubtn div {
  height: 5px;
  width: 35px;
  margin-top: 3px;
  background-color: honeydew;
  /* background-color: rgb(0, 140, 255); */
  /* border-radius: 10%; */
}
@media screen and (min-width: 600px) {
  .menubtn{
    display: none;
  }
}