 .App {
  text-align: center;
 }

.addForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

